/* grid */
main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 150px 80px 80px 
                        80px 80px;
    gap:15px;
  }
  div{
    grid-column: 1/span3;
    grid-row: 1/2;
  }
  .sec1{
    grid-area: 3/1/5/2;
  }
  .sec2{
    grid-area: 2/2/4/3;

  }
  .sec3{
    grid-area: 4/2/6/3;
  }
  .sec4{
    grid-area: 3/3/5/4;
  }
  @media only screen and (max-width:715px){
    main{
      grid-template-rows: 150px 80px 80px 
                        80px 80px 80px 80px 
                        80px 80px;
    }
    .sec1{
    grid-area: 2/1/4/4;
    
  }
  .sec2{
    grid-area: 4/1/6/4;
  }
  .sec3{
    grid-area: 6/1/8/4;
   }
  .sec4{
    grid-area: 8/1/10/4;
    }
  }
  /* Typography */
  div{
      text-align: center;
  }
  p{
    font-size: 15px;
  }
  /* style */
  main{
    margin: 0 15px;
  }
  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
  }
  span,h2{
    color:hsl(234, 12%, 34%);
  }
  section{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 3px 3px 0px rgba(90, 90, 90, 0.411);
  }
  section h2{
    margin-top:5px;
    margin-left:5px;
  }
  section svg{
    align-self: flex-end;
    margin-right: 7px;
  }
  .sec1{

    border-top:3px solid hsl(180, 62%, 55%);
  }
  .sec2{

    border-top:  3px solid hsl(0, 78%, 62%);
  }
  .sec3{

    border-top:3px solid hsl(34, 97%, 64%);
  }
  .sec4{

    border-top: 3px solid hsl(212, 86%, 64%);
  }